body {
            font-family: Arial, sans-serif;
            background-color: #D5DDD9;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #054E2B;
            color: #f4f4f4;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 72px;
        }
        main {
            display: flex;
            flex-direction: column;
           padding-left: 37.5px;
           padding-right: 37.5px;
        }
        .add_category {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button {
            position: relative;
            padding: 20px 13px;
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            outline: none;
        }
        .close-button {
            padding: 20px 13px;
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            outline: none;
            
        }
        .close-button:hover {
            opacity: 0.8;
        }
        .close-button-add {
            padding: 20px 13px;
            background: none;
            border: none;
            cursor: pointer;
            margin: 0;
            outline: none;
            
        }
        .close-button-add:hover {
            opacity: 0.8;
        }
        .burger {
            width: 154px;
        }
        .button:hover {
            opacity: 0.8;
        }
        .button-cat {
            width: 44px;
            height: 44px;
            fill: #054E2B;
            border: 0px;
            border-radius:100px;
            cursor: pointer;
            background-color: transparent;
        }

        .created_category {
            box-sizing: border-box;
            width: 400px;
            height: 240px;
            background: rgba(121, 44, 219, 0.40);
            box-shadow: -1px 8px 24px 6px rgba(0, 0, 0, 0.25);
            border-radius: 36px;
            border: none;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            text-align: center;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: normal;
            padding: 0px;
            position: relative;
            align-items: flex-start;
            margin: 40px;
            margin-top: 0px;
        }

        #category_name {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            margin-right: 64px;
            margin-top: 0;
            margin-bottom: 0;
        }

        #created_category_btn {
            position: absolute;
            top: 0;
            right: 0;
        }
        
        #created_category_line {
            margin-right: 64px;
            margin-bottom: 8px;
        }
        .text-row {
          padding-right: 93px;
          padding-left: 30px;
          color: #FFF;
          text-align: center;
          font-family: Montserrat;
          font-size: 30px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          display: flex; /* Используем flex для размещения элементов в ряд */
          justify-content: space-between; /* Равномерное распределение элементов по ширине родительского блока */
        }

        .left-span {
          order: 1; /* Указываем,    что этот span идет первым слева */
        }

        .right-span {
          order: 2; /* Указываем, что этот span идет вторым справа */
        }


        .button-cat:hover{
            opacity: 0.7;
        }
        .edit_add_spending_button:hover{
            opacity: 0.7;
        }
        .header-text {
            width: 310px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 700;
            font-size: 36px;
            color: #E8E8E8;

        }
        h1, .body_text{
            margin-top: 49px;
            color: #044B27;
            font-size: 30px;
            font-family: Montserrat, monospace;
            font-weight: 700;
            word-wrap: break-word;
            height: auto;
            margin-bottom: 44px ;

        }

        .button_text {
            text-align: center;
            color: #E8E8E8;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 300;
            word-wrap: break-word;
            margin-top: 20px;
        }
        .content-wrapper {
            display: flex;
            align-items: center;
            justify-content: center; /* This will center the items on the main axis */
            flex-wrap: wrap; /* This allows items to move to the next line */
            gap: 50px; /* Space between items */
            padding: 0;
            margin: 0;
          }

        .add-account-container {
            position: relative;
            min-width: 72px;
            min-height: 72px;
            margin-right: 26px;
            top: 0px;

            display: flex;
            align-items: center;
            justify-content: center;
            background: #054E2B;

            transition-property: background-color;
            transition-timing-function: ease;
            transition-duration: 0.2s;
        }

        .add-account-container:hover {
            background: #252525;
            cursor: pointer;
        }

        .add-account {
            box-sizing: border-box;
            flex-direction: row;

            margin-right: 1vw;
            margin-left: 80vw;
            width: auto;
            height: auto;

            background: rgba(255, 255, 255, 0.4);
            box-shadow: -1px 8px 24px 6px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(12px);
            opacity: 0;
            border-radius: 36px;
            display: none;

            transition-property: opacity;
            transition-timing-function: ease;
            transition-duration: 0.5s;
        }

        .add-account.is-active {
            display: flex;
            align-items: center;
            justify-content: space-around;
            opacity: 100;
        }

        .add-account:hover {
            cursor: pointer;
            background: rgba(172, 172, 172, 0.4);
        }

        .add-account-text {
            margin-right: 1vw;
            color: #E8E8E8;
        }
        label {
            display: block;
            margin-bottom: 8px;
            margin-top: 16px;
        }

        ::placeholder {
            color: #737373;
        }

        input[type="text"], input[type="date"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="date"] {
            width: calc(50% - 5px);
        }

        input[type="color"]
        {
            
            height: 50px;
            width: 100px;
            
            
            border: 2px solid #ccc;
            
        }

        .button {
            padding: 20px 13px;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
        }
         .button-notif {
            padding: 15px 8px;
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
        }

        .button:hover {
            opacity: 0.8;
        }
        .header-text {
            font-family: 'IBM Plex Mono', monospace;
            font-weight: 700;
            font-size: 36px;
            color: #E8E8E8;
        }
        .input-text {
            color: #044B27;
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            height: 100px;
            margin-bottom: 0px;
        }

        .body_text{
            color: #044B27;
            font-size: 30px;
            font-family: Montserrat, monospace;
            font-weight: 700;
            word-wrap: break-word;
            height: auto;
            margin-bottom: 54px;
        }
        .form-container {
            display: none;
            position: absolute;
            left: 50%;
            
            top: 60%;
            
            transform: translate(-50%, -50%);
            width: 982px;
            min-height: 570px;
            height: auto;
            background: #487C63;
            border-radius: 36px;
            box-shadow: -1px 8px 24px 6px #00000040;
            backdrop-filter: blur(24px) brightness(100%);
            -webkit-backdrop-filter: blur(24px) brightness(100%);
        }
        .add-form-container{
            z-index: 1000;
            display: none;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            width: 475px;
            height: 309px;
            background: #487C63;
            border-radius: 36px;
            box-shadow: -1px 8px 24px 6px #00000040;
            backdrop-filter: blur(24px) brightness(100%);
            -webkit-backdrop-filter: blur(24px) brightness(100%);
        }
        .input-container {
            margin-left: 397px;
            margin-top: 50px;
        }

        .input-container label {
            display: block;
        }

        .input-container input {
              width: 509px;
              height: 37px;
              border-radius: 15px;
              background-color: #dddddd;
        }

        .input-container-color {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            width: 140px;
            height: 45px;
            background-color: transparent;
            color: #88bca4;
            font-family: Montserrat;
            margin-left: 395px;
        }

        .input-container-date {
            margin-left: 397px;
            margin-top: 9px;
        }
        
        .input-container-date-add {
            margin-left: 177px;
            margin-top: 9px;
            
        }
        .input-container-date-add input {
            width: 235px;
            height: 37px;
            border-radius: 17px;
            background-color: #dddddd;
        }
        .input-container-date input {
            width: 235px;
            height: 37px;
            border-radius: 17px;
            background-color: #dddddd;
        }
        
        .div {
            border-radius: 10px;
            background-color: #ddd;
            display: flex;
            min-height: 55px;
            flex-direction: column;
        }

        .text_box {
            width: 282px;
            height: 38px;
            text-align: left;
            margin-left: 20px;
            margin-top: 20px;
            position: absolute;
            left: 50px;
            font-family: 'Montserrat-Bold', Helvetica;
            font-weight: 700;
            color: #ffffff;
            font-size: 30px;
            letter-spacing: 0;
            line-height: normal;

        }

        .color-picker{
            width: 3px; 
            height: 3px; 
            border-radius: 360px;
        }
        .container {
            width: 982px;
            height: 58px;
            display: flex;
            align-items: center;
            margin-top: 60px;
            justify-content: center;
        }
        .submit-btn {
            width: 226px;
            height: 58px;
            background: rgba(255, 255, 255, 0.30);
            border-radius: 40px;
            border: none;
            color: #043d21;
            
            border-top: 2px outset #ffffff; /* Adjust color and width as needed */
            border-right: 2px solid #ffffff;
            border-left: 2px outset #fff;
            border-bottom: none;
            
            box-shadow: 0 5px 18px -2px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px) brightness(100%);
            -webkit-backdrop-filter: blur(4px) brightness(100%);
            
            font-family: Montserrat, monospace;
            font-weight: 520;
            font-size: 25px;
            cursor: pointer;

        }
        .submit-btn-add {
            width: 226px;
            height: 58px;
            background: rgba(255, 255, 255, 0.30);
            border-radius: 40px;
            border: none;
            color: #043d21;
            border-top: 2px outset #ffffff; /* Adjust color and width as needed */
            border-right: 2px solid #ffffff;
            border-left: 2px outset #fff;
            border-bottom: none;
            box-shadow: 0 5px 18px -2px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px) brightness(100%);
            -webkit-backdrop-filter: blur(4px) brightness(100%);
            font-family: Montserrat, monospace;
            font-weight: 520;
            font-size: 25px;
            cursor: pointer;
        }
        .submit-btn:hover {
            opacity: 0.8;
        }
        .submit-btn-add:hover {
            opacity: 0.8;
        }
        .custom-dropdown {
            width: 235px;
            margin-left: 14px;
            padding: 30px 20px;
            border: none;
            appearance: none;
            cursor: pointer;
            border-radius: 17px;
            background-color: #dddddd;
        }
        .custom-dropdown:focus {
            outline: none;
        }
        .category-card {
            width: 450px;
            border-radius: 36px;
            background-image: url(/static/img/home/back.png);
            
            background-color: #9C27B0;
            background-position: center center;
            background-size: 450px 300px;
            box-sizing: border-box;
            color: white;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: row; /* Change this to row */
            justify-content: space-between; /* This will position children on either end */
            box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.7);
            padding-right: 14px;
            flex: 1 0 calc(33.33% - 50px); /* Gives each item a base width to fit 3 in a row, adjusting for gap */
            max-width: 400px; 
            max-height: 240px;
            min-height: 240px;
            
          }
          
          
          .category-header {
            margin-top: 37px;
            margin-left: 30px;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            min-width: 300px;
            
          }
        
          .category-title {
           
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-right: 30px;
          }
        
          .category-action {
            font-size: 24px;
            cursor: pointer;
            text-align: right; /* This will align the button's content to the right */
            align-self: flex-end; /* Add this line to align the button to the right */
            margin-top: auto;
            cursor: pointer;
          }
        
          .category-content {
            position: relative;
            margin-bottom: 47px;
            margin-left: 30px;
            min-width: 300px;
            padding-top: 15px;
            display: flex; /* Add this line to make it a flex container */
            flex-direction: column;
            --border-top-color: white;
          }
          .category-content::before {
            content: '';
            position: absolute;
            top: 0; 
            left: 15px; 
            right: 40px; 
            border-top: 2px solid;
            border-top-color: var(--border-top-color); 
            width: calc(100% - 55px); 
          }
          category-text-content {
            flex-grow: 1;
            width: 280px;
            
            }
          .category-limit,
          .category-spent {
            padding-right: 30px;
            margin: 5px 0;
            text-align: start;
            font-family: Montserrat;
            font-size: 30px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            margin-left: 5px;
            display: flex;
            justify-content: space-between; /* Это разместит содержимое на противоположных концах элемента */
            align-items: center;
          }
          
        
          .category-edit {
            text-align: right; 
            align-self: flex-end; 
            margin-top: auto;
            cursor: pointer;
          }
          button.category-action,
            button.category-edit {
            background: none;
            border: none;
            color: inherit;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            padding: 0;
            width: auto; 
            height: auto;
            }
            button.category-action img,
            button.category-edit img {
            width: 100%; 
            height: auto;
            }
            button.category-action {
            font-size: 24px;
            margin-top: 0px;
            margin-right: auto;
            }
            button.category-action:hover {
                opacity: 0.8;
            }
            button.category-edit:hover {
                opacity: 0.8;
            }

            button.category-edit {
            text-align: right;
            font-size: 24px;
            
            }
            
            .right-buttons{
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start; /* This aligns the child elements (buttons) to the start of the container */
                justify-content: left;
                margin-bottom: 28px;
                margin-top: 28px;
                
            }

            .errorlist{
                list-style: none;
                color: red;
            }

        
.notification-circle {
    position: absolute;
    bottom: 22px;
    right: 14px;
     width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nots-number {
    color: white;
    font-size: 12px;
}

#notification-list {
    display: none;
    text-align: center;
    border: 3px solid #000;
    position: absolute;
    right: 67px;
    max-width: 300px;
    z-index: 9999;
}
#notification-list ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #D5DDD9;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

#notification-list ul li {
    padding: 3px;
    border-width: 3px 0;
    border-style: solid;
    border-color: #000;
    word-wrap: break-word;
    min-height: 30px;
}

#check_nots {
    padding: 0;
    margin: 0;
}
#check_nots input {
    padding: 0;
    margin: 0;
}

