body {
    font-family: Arial, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(180deg, #005C30 0%, rgba(0, 92, 48, 0.00) 100%);
}

::placeholder {
    height: 19.953px;
    flex-shrink: 0;
    color: #737373;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
}

.create-account {
    
    background-color: white;
    padding: 20px 40px;
    
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border-radius: 36px;
    border: 2px solid #FFF;

    background: rgba(255, 255, 255, 0.40);

    box-shadow: -1px 8px 24px 6px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
}

.create-account h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
}

.input-container input {
    width: 280px;
    padding: 10px;
    border: 1px solid #ccc;
    
    border-radius: 10px;
}

.submit-btn {
    width: 173px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 5px 18px -2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    flex-shrink: 0;
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

.alternate-option {
    text-align: center;
    margin-top: 20px;
    color: #033C1F;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.create-text {
    color: #044B27;
    text-align: center;
    font-family: Montserrat;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input-text {
    color: #044B27;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.container {
    display: flex;
    justify-content: center; /* centers horizontally */
    align-items: center; /* centers vertically */
     /* take the full viewport height, adjust as needed */
}
.log-in {
    text-decoration: none;  
    color: #033C1F;
    text-align: center;
    font-family: Montserrat;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: text-decoration 0.3s;
}
.log-in:hover {
    text-decoration: underline;   /* add underline on hover */
}