<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Debt menu</title>
    <link rel="stylesheet" href="../static/css/debts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
        {% include 'menu.html' %}
        <div class="header-text">
            <img src="../static/img/home/vector-1.svg" alt="Clevercase Logo" style="vertical-align: middle;">
            Clevercase
        </div>
        <div>
            <div>
                <button class="button">
                    <img src="../static/img/home/notifications.svg" alt="Bell Icon" style="vertical-align: middle;">
                </button>
                <button id="hpProfileButton" class="button">
                    <img src="../static/img/home/profile.svg" alt="Search Icon" style="vertical-align: middle;">
                </button>
            </div>
        </div>
    </header>
    <main>
        <section id="my-debts">
            <div class="add_debt">
                <span>My debts</span>
                <button id="my-debts-add-debt-button" class="button_debt">
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M38.171 7.08355C46.4091 16.0145 45.8476 29.9328 36.9167 38.171C27.9858 46.4091 14.0675 45.8476 5.82927 36.9167C-2.40892 27.9858 -1.84736 14.0675 7.08355 5.82927C16.0145 -2.40892 29.9328 -1.84736 38.171 7.08355ZM7.58284 22.011C7.58284 21.1826 8.25441 20.511 9.08284 20.511H20.7834V8.8116C20.7834 7.98317 21.455 7.3116 22.2834 7.3116C23.1119 7.3116 23.7834 7.98317 23.7834 8.8116V20.511H35.4828C36.3113 20.511 36.9828 21.1826 36.9828 22.011C36.9828 22.8394 36.3113 23.511 35.4828 23.511H23.7834V35.2116C23.7834 36.04 23.1119 36.7116 22.2834 36.7116C21.455 36.7116 20.7834 36.04 20.7834 35.2116V23.511H9.08284C8.25441 23.511 7.58284 22.8394 7.58284 22.011Z" fill="#054E2B"/>
                    </svg>
                </button>
            </div>
            <div class="debts-block">
               {% for debt in my_debts %}
                {% if not debt.is_closed %}
                <div class="debt-container">
                    <div class="debt-container-header">
                        <span class="debtor-name">{{ debt.creditor_name }}</span>
                        <button class="edit-my-debt-button"
                                data-id="{{ debt.id }}"
                                data-amount="{{ debt.debt_amount }}"
                                data-currency="{{ debt.currency }}"
                                data-creditor="{{ debt.creditor_name }}"
                                data-date-of-borrowing="{{ debt.date_of_borrowing|date:'Y-m-d' }}"
                                data-repayment-date="{{ debt.debt_repayment_date|date:'Y-m-d' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                              <path d="M19.3825 9.10206C19.0473 9.10206 18.7754 9.38953 18.7754 9.74411V21.4686C18.7754 22.7076 17.8221 23.7158 16.6507 23.7158H3.33895C2.16748 23.7158 1.21418 22.7075 1.21418 21.4686V7.38967C1.21418 6.15069 2.16748 5.1425 3.33895 5.1425H16.6507C16.9859 5.1425 17.2577 4.85502 17.2577 4.50045C17.2577 4.14587 16.9859 3.8584 16.6507 3.8584H3.33895C1.49782 3.8584 0 5.44249 0 7.38967V21.4686C0 23.4157 1.49782 24.9999 3.33895 24.9999H16.6507C18.4918 24.9999 19.9896 23.4157 19.9896 21.4686V9.74416C19.9896 9.38959 19.7178 9.10206 19.3825 9.10206Z" fill="white"/>
                              <path d="M24.4506 0.580407C23.7187 -0.193627 22.528 -0.193311 21.7967 0.580407L11.3982 11.5785C11.3843 11.5932 11.2275 11.7656 11.1869 11.8622L9.74688 15.2838C9.64461 15.5267 9.69438 15.811 9.87222 15.9989C9.98841 16.1218 10.1437 16.187 10.3017 16.187C10.385 16.187 10.4689 16.1688 10.5483 16.1314L13.7835 14.6084C13.8745 14.5655 14.0378 14.3996 14.0518 14.3849L24.4506 3.38723C24.8051 3.01225 25.0005 2.51381 25.0005 1.98366C25.0005 1.45356 24.8051 0.955014 24.4506 0.580407ZM23.5921 2.479L13.1933 13.4771C13.1916 13.479 13.1906 13.4812 13.1889 13.4827L11.499 14.2783L12.2513 12.4911C12.2528 12.4892 12.2548 12.4882 12.2566 12.4864L22.6552 1.48837C22.9057 1.2234 23.3422 1.22372 23.5922 1.48863C23.7174 1.62062 23.7863 1.79651 23.7863 1.98366C23.7863 2.1708 23.7173 2.34664 23.5921 2.479Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                    <hr>
                    <div class="debt-info-block">
                        <span><strong>Debt amount:</strong> {{ debt.debt_amount }}<strong>{{ debt.currency }}</strong></span>
                        <span><strong>Date of borrowing: </strong>{{ debt.date_of_borrowing|date:"d.m.Y" }}</span>
                        <span><strong>Debt repayment date: </strong>{{ debt.debt_repayment_date|date:"d.m.Y" }}</span>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="close_debt">
                        <input type="hidden" name="debt_id" value="{{ debt.id }}">
                        <input type="hidden" name="debt_type" value="my_debt">
                        <button type="submit" class="close-debt-button"
                        onclick="return confirm('Are you sure you want to close this debt?')">Close the debt</button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <form method="post" id="add-my-debt-form" class="add-debt-form">
                {% csrf_token %}
                <input type="hidden" name="action" id="my-debt-form-action" value="create_debt">
                <input type="hidden" id="my-debt-id" name="debt_id" value="">
                <input type="hidden" name="debt_type" value="my_debt">
                <button id="close-my-debt-form-button" class="close-form-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM5.59221 4.99398C5.97545 4.59631 6.59681 4.59631 6.98006 4.99398L10.2861 8.42453L13.5922 4.99398C13.9755 4.59631 14.5968 4.59631 14.9801 4.99398C15.3633 5.39165 15.3633 6.03641 14.9801 6.43408L11.674 9.86462L14.9799 13.2951C15.3632 13.6927 15.3632 14.3375 14.9799 14.7352C14.5967 15.1328 13.9753 15.1328 13.5921 14.7352L10.2861 11.3047L6.98016 14.7352C6.59692 15.1328 5.97556 15.1328 5.59232 14.7352C5.20907 14.3375 5.20907 13.6927 5.59232 13.2951L8.89829 9.86462L5.59221 6.43408C5.20897 6.03641 5.20897 5.39165 5.59221 4.99398Z" fill="#E8E8E8"/>
                    </svg>
                </button>
                <div class="debt-form-field">
                    <span>Lender`s name</span>
                    {{ my_debts_form.creditor_name }}
                </div>
                <div class="debt-form-field">
                    <span>Debt amount</span>
                    <div class="debt-amount-input">
                       {{ my_debts_form.debt_amount }}
                        {{ my_debts_form.currency }}
                    </div>
                </div>
                {% if my_debts_form.debt_amount.errors %}
                        <ul class="error-list">
                            {% for error in my_debts_form.debt_amount.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="debt-form-field">
                    <span>Date of borrowing</span>
                    {{ my_debts_form.date_of_borrowing }}
                </div>
                <div class="debt-form-field">
                    <div>
                        <span>Repayment date</span> <br>
                        <span style="font-size: 13px">*optional</span>
                    </div>
                    {{ my_debts_form.debt_repayment_date }}
                </div>
                <button type="submit" value="Create" id="my-debt-form-button">Create debt</button>
             </form>
            <div class="closed-debts-header">
                <h2>Closed debts</h2>
                <button id="my-debts-show-closed-debts">Show debts history</button>
            </div>
            <div id="my-debts-closed-debts-block" class="debts-block">
                {% for debt in my_debts %}
                {% if debt.is_closed %}
                <div class="debt-container">
                    <div class="debt-container-header">
                        <span class="debtor-name">{{ debt.creditor_name }}</span>
                    </div>
                    <hr>
                    <div class="debt-info-block">
                        <span><strong>Debt amount: </strong>{{ debt.debt_amount }}<strong>{{ debt.currency }}</strong></span>
                        <span><strong>Date of borrowing: </strong>{{ debt.date_of_borrowing|date:"d.m.Y" }}</span>
                        <span><strong>Debt repayment date: </strong>{{ debt.debt_repayment_date|date:"d.m.Y" }}</span>
                    </div>
                    <button class="close-debt-button" type="submit">The debt is closed</button>

                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
        <div id="rofl"></div>
        <section id="others-debts">
            <div class="add_debt">
                <span>Other`s debts</span>
                <button id="others-debts-add-debt-button" class="button_debt" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="44" height="44" viewBox="0 0 44 44" >
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M38.171 7.08355C46.4091 16.0145 45.8476 29.9328 36.9167 38.171C27.9858 46.4091 14.0675 45.8476 5.82927 36.9167C-2.40892 27.9858 -1.84736 14.0675 7.08355 5.82927C16.0145 -2.40892 29.9328 -1.84736 38.171 7.08355ZM7.58284 22.011C7.58284 21.1826 8.25441 20.511 9.08284 20.511H20.7834V8.8116C20.7834 7.98317 21.455 7.3116 22.2834 7.3116C23.1119 7.3116 23.7834 7.98317 23.7834 8.8116V20.511H35.4828C36.3113 20.511 36.9828 21.1826 36.9828 22.011C36.9828 22.8394 36.3113 23.511 35.4828 23.511H23.7834V35.2116C23.7834 36.04 23.1119 36.7116 22.2834 36.7116C21.455 36.7116 20.7834 36.04 20.7834 35.2116V23.511H9.08284C8.25441 23.511 7.58284 22.8394 7.58284 22.011Z" fill="#054E2B"/>
                    </svg>
                </button>
            </div>
            <div class="debts-block">
                {% for debt in others_debts %}
                {% if not debt.is_closed %}
                <div class="debt-container">
                    <div class="debt-container-header">
                        <span class="debtor-name">{{ debt.debtor_name }}</span>
                        <button class="edit-others-debt-button"
                                data-id="{{ debt.id }}"
                                data-amount="{{ debt.debt_amount }}"
                                data-currency="{{ debt.currency }}"
                                data-creditor="{{ debt.debtor_name }}"
                                data-date-of-borrowing="{{ debt.date_of_borrowing|date:'Y-m-d' }}"
                                data-repayment-date="{{ debt.debt_repayment_date|date:'Y-m-d' }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                              <path d="M19.3825 9.10206C19.0473 9.10206 18.7754 9.38953 18.7754 9.74411V21.4686C18.7754 22.7076 17.8221 23.7158 16.6507 23.7158H3.33895C2.16748 23.7158 1.21418 22.7075 1.21418 21.4686V7.38967C1.21418 6.15069 2.16748 5.1425 3.33895 5.1425H16.6507C16.9859 5.1425 17.2577 4.85502 17.2577 4.50045C17.2577 4.14587 16.9859 3.8584 16.6507 3.8584H3.33895C1.49782 3.8584 0 5.44249 0 7.38967V21.4686C0 23.4157 1.49782 24.9999 3.33895 24.9999H16.6507C18.4918 24.9999 19.9896 23.4157 19.9896 21.4686V9.74416C19.9896 9.38959 19.7178 9.10206 19.3825 9.10206Z" fill="white"/>
                              <path d="M24.4506 0.580407C23.7187 -0.193627 22.528 -0.193311 21.7967 0.580407L11.3982 11.5785C11.3843 11.5932 11.2275 11.7656 11.1869 11.8622L9.74688 15.2838C9.64461 15.5267 9.69438 15.811 9.87222 15.9989C9.98841 16.1218 10.1437 16.187 10.3017 16.187C10.385 16.187 10.4689 16.1688 10.5483 16.1314L13.7835 14.6084C13.8745 14.5655 14.0378 14.3996 14.0518 14.3849L24.4506 3.38723C24.8051 3.01225 25.0005 2.51381 25.0005 1.98366C25.0005 1.45356 24.8051 0.955014 24.4506 0.580407ZM23.5921 2.479L13.1933 13.4771C13.1916 13.479 13.1906 13.4812 13.1889 13.4827L11.499 14.2783L12.2513 12.4911C12.2528 12.4892 12.2548 12.4882 12.2566 12.4864L22.6552 1.48837C22.9057 1.2234 23.3422 1.22372 23.5922 1.48863C23.7174 1.62062 23.7863 1.79651 23.7863 1.98366C23.7863 2.1708 23.7173 2.34664 23.5921 2.479Z" fill="white"/>
                            </svg>
                        </button>
                    </div>
                    <hr>
                    <div class="debt-info-block">
                        <span><strong>Debt amount: </strong>{{ debt.debt_amount }}<strong>{{ debt.currency }}</strong></span>
                        <span><strong>Date of borrowing: </strong>{{ debt.date_of_borrowing|date:"d.m.Y" }}</span>
                        <span><strong>Debt repayment date: </strong>{{ debt.debt_repayment_date|date:"d.m.Y" }}</span>
                    </div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="close_debt">
                        <input type="hidden" name="debt_id" value="{{ debt.id }}">
                        <input type="hidden" name="debt_type" value="others_debt">
                        <button type="submit" class="close-debt-button">Close the debt</button>
                    </form>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <form method="post" id="add-others-debt-form" class="add-debt-form" onsubmit="(e) => {e.preventDefault()}">
                {% csrf_token %}
                <input type="hidden" name="action" id="others-debt-form-action" value="create_debt">
                <input type="hidden" id="others-debt-id" name="debt_id" value="">
                <input type="hidden" name="debt_type" value="others_debt">
                <button id="close-others-debt-form-button" class="close-form-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM5.59221 4.99398C5.97545 4.59631 6.59681 4.59631 6.98006 4.99398L10.2861 8.42453L13.5922 4.99398C13.9755 4.59631 14.5968 4.59631 14.9801 4.99398C15.3633 5.39165 15.3633 6.03641 14.9801 6.43408L11.674 9.86462L14.9799 13.2951C15.3632 13.6927 15.3632 14.3375 14.9799 14.7352C14.5967 15.1328 13.9753 15.1328 13.5921 14.7352L10.2861 11.3047L6.98016 14.7352C6.59692 15.1328 5.97556 15.1328 5.59232 14.7352C5.20907 14.3375 5.20907 13.6927 5.59232 13.2951L8.89829 9.86462L5.59221 6.43408C5.20897 6.03641 5.20897 5.39165 5.59221 4.99398Z" fill="#E8E8E8"/>
                    </svg>
                </button>
                <div class="debt-form-field">
                    <span>Debtor`s name</span>
                    {{ others_debts_form.debtor_name }}
                </div>
                <div class="debt-form-field">
                    <span>Debt amount</span>
                    <div class="debt-amount-input">
                        {{ others_debts_form.debt_amount }}
                        {{ others_debts_form.currency }}
                    </div>
                </div>
                {% if others_debts_form.debt_amount.errors %}
                        <ul class="error-list">
                            {% for error in others_debts_form.debt_amount.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                {% endif %}
                <div class="debt-form-field">
                    <span>Date of borrowing</span>
                    {{ others_debts_form.date_of_borrowing }}
                </div>
                <div class="debt-form-field">
                    <div>
                        <span>Repayment date</span> <br>
                        <span style="font-size: 13px">*optional</span>
                    </div>
                    {{ others_debts_form.debt_repayment_date }}
                </div>
                <button type="submit" value="Create" id="others-debt-form-button">Create debt</button>
             </form>
            <div class="closed-debts-header">
                <h2>Closed debts</h2>
                <button id="others-debts-show-closed-debts">Show debts history</button>
            </div>
            <div id="others-debts-closed-debts-block" class="debts-block">
                {% for debt in others_debts %}
                {% if debt.is_closed %}
                <div class="debt-container">
                    <div class="debt-container-header">
                        <span class="debtor-name">{{ debt.debtor_name }}</span>
                    </div>
                    <hr>
                    <div class="debt-info-block">
                        <span><strong>Debt amount: </strong>{{ debt.debt_amount }}<strong>{{ debt.currency }}</strong></span>
                        <span><strong>Date of borrowing: </strong>{{ debt.date_of_borrowing|date:"d.m.Y" }}</span>
                        <span><strong>Debt repayment date: </strong>{{ debt.debt_repayment_date|date:"d.m.Y" }}</span>
                    </div>
                    <button class="close-debt-button" disabled>The debt is closed</button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </section>
    </main>
    <script src="../static/scripts/debts.js"></script>
</body>
</html>