<div class="menu-container">
    <button class="burger-container header-btn">
        <img src="../static/img/home/burger-menu.svg" alt="Menu Icon" class="burger-icon">
    </button>
    <div class="burger-open">
        <a href="{% url 'home' %}" class="opened-menu-option-box">
            <p class="opened-menu-option-box-text"> My categories </p>
            <div class="opened-menu-option-box-icon-container">                        
                <svg viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#e8e8e8" alt="Homepage Icon" class="homepage-icon opened-menu-icon">
                    <path d="M2 8L11.7317 3.13416C11.9006 3.04971 12.0994 3.0497 12.2683 3.13416L22 8" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M20 11V19C20 20.1046 19.1046 21 18 21H6C4.89543 21 4 20.1046 4 19V11" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
        </a>
        <div class="opened-menu-vertical-line"></div>
        <a href="{% url 'regularpays' %}" class="opened-menu-option-box">
            <p class="opened-menu-option-box-text"> Regular expenses </p>
            <div class="opened-menu-option-box-icon-container">

                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#e8e8e8" alt="Regular Expenses Icon" class="regular-expenses-icon opened-menu-icon"><path d="M12 6L12 12L18 12" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
           

        </a>
        <div class="opened-menu-vertical-line"></div>
        <a href="{% url 'debts' %}" class="opened-menu-option-box">
            <p class="opened-menu-option-box-text"> Debts </p>
            <div class="opened-menu-option-box-icon-container">

                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#e8e8e8" alt="Regular Expenses Icon" class="regular-expenses-icon opened-menu-icon">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M15 8.5C14.315 7.81501 13.1087 7.33855 12 7.30872M9 15C9.64448 15.8593 10.8428 16.3494 12 16.391M12 7.30872C10.6809 7.27322 9.5 7.86998 9.5 9.50001C9.5 12.5 15 11 15 14C15 15.711 13.5362 16.4462 12 16.391M12 7.30872V5.5M12 16.391V18.5" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </div>
         
        </a>
        <div class="opened-menu-vertical-line"></div>
        <a href="{% url 'regularpays' %}" class="opened-menu-option-box" style="border-bottom-right-radius: 36px;"> 
            <p class="opened-menu-option-box-text" > Analytics </p>
            <div class="opened-menu-option-box-icon-container">
                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#e8e8e8" alt="Analytics Icon" class="analytics-icon opened-menu-icon">
                    <path d="M20 20H4V4" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M4 16.5L12 9L15 12L19.5 7.5" stroke="#e8e8e8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg> 
            </div>
         
        </a>

    </div>
</div>
